apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tech-challenge_db
  template:
    metadata:
      labels:
        app: tech-challenge_db
    spec:
      containers:
        - envFrom:
            - configMapRef:
                name: db-config
          image: mongo:7
          name: db
          ports:
            - containerPort: 27017
              protocol: TCP
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: db
          livenessProbe:
            tcpSocket:
              port: 5432
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 5432
            initialDelaySeconds: 5
            periodSeconds: 5
      restartPolicy: Always
      volumes:
        - name: db
          persistentVolumeClaim:
            claimName: db
