apiVersion: v1
kind: Service
metadata:
  name: tech-challenge-app-service
spec:
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: tech-challenge_app
  type: ClusterIP
